@import "./variables";

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    lighten($color-primary, 40%),
    $color-primary
  );
}
